<h1>Log in</h1>
<p>We only share your information with top pyaing advertising agencies</p>

<form method = 'post' action = "/login">
  <input type = "email" placeholder = "Email"><br>
  <input type = "password" placeholder = "Password"> <br>
  <input type = "submit" value = "Submit">
</form>
